<div layout-padding class="under-title md-whiteframe-5dp">
	<md-card layout="row" class="my-card md-whiteframe-5dp">
		<img class="md-card-image "  src="./shared/profile2.png" alt="profile Pic">
		<md-card-content flex layout="column" layout-align="center center">
			<h1>Hansel Lopez</h1>
			<p>Javascript Developer</p>
			<p> Fascinated by all the the current advancements in software and technology, I've realized that life to too short to not peruse my dreams. I decided to live a live worth living, so I'm committing to changing my career path towards the software engineer path. I enrolled and successfully graduated in a Coding BootCamp, RefactorU. Where I learned core fundamentals to become a software engineer.</p>
			<md-card-footer> Card footer </md-card-footer>
			<div class="md-actions" layout="row" layout-align="start start">
				<md-button>content</md-button>
			</div>
		</md-card-content>
	</md-card>
</div >

<div layout-padding class="home">
		
		<div class="card-wrapper">
		
			<md-card class="md-whiteframe-5dp">
				<img class="md-card-image " flex="25" src="./shared/profile2.png" alt="profile Pic">
				<md-card-content>
					<h2>Hansel Lopez</h2>
					<p>Javascript Developer</p>
				</md-card-content>
				<md-card-footer>
					Card footer
				</md-card-footer>
				<div class="md-actions" layout="row" layout-align="start start">
				   <md-button>content</md-button>
				 </div>
			</md-card>

			<md-card class="md-whiteframe-5dp">
				<img class="md-card-image " flex="25" src="./shared/profile2.png" alt="profile Pic">
				<md-card-content>
					<h2>Social Profiles</h2>
					<p>Javascript Developer</p>
				</md-card-content>
				<md-card-footer>
				Card footer
				</md-card-footer>
				<div class="md-actions" layout="row" layout-align="start start">
				   <md-button>content</md-button>
				 </div>
			</md-card>

			<md-card class="md-whiteframe-5dp">
				<img class="md-card-image " flex="25" src="./shared/profile2.png" alt="profile Pic">
				<md-card-content>
					<h2>Current Goals</h2>
					<p>Javascript Developer</p>
				</md-card-content>
				<md-card-footer>
				Card footer
				</md-card-footer>
				<div class="md-actions" layout="row" layout-align="start start">
				   <md-button>content</md-button>
				 </div>
			</md-card>

			<md-card class="md-whiteframe-5dp">
				<img class="md-card-image " flex="25" src="./shared/profile2.png" alt="profile Pic">
				<md-card-content>
					<h2>Technical Skills</h2>
					<p>Javascript Developer</p>
				</md-card-content>
				<md-card-footer>
				Card footer
				</md-card-footer>
				<div class="md-actions" layout="row" layout-align="start start">
				   <md-button>content</md-button>
				 </div>
			</md-card>

			<md-card class="md-whiteframe-5dp">
				<img class="md-card-image " flex="25" src="./shared/profile2.png" alt="profile Pic">
				<md-card-content>
					<h2>Contact Me</h2>
					<p>Javascript Developer</p>
				</md-card-content>
				<md-card-footer>
				Card footer
				</md-card-footer>
				<div class="md-actions" layout="row" layout-align="start start">
				   <md-button>content</md-button>
				 </div>
			</md-card>


		</div>
		
</div>
