<div layout-padding class="home">
	<!-- <md-content  class="home-content" layout-wrap> -->

			
		<md-card class="md-whiteframe-11dp">
			<img class="md-card-image " flex="25" src="./shared/profile2.png" alt="profile Pic">
			<md-card-content>
				<h2>Hansel Lopez</h2>
				<p>Javascript Developer</p>
			</md-card-content>
			<md-card-footer>
				Card footer
			</md-card-footer>
			<div class="md-actions" layout="row" layout-align="start start">
			   <md-button>content</md-button>
			 </div>
		</md-card>
		<md-card class="md-whiteframe-11dp">
			<img class="md-card-image " flex="25" src="./shared/profile2.png" alt="profile Pic">
			<md-card-content>
				<h2>Hansel Lopez</h2>
				<p>Javascript Developer</p>
			</md-card-content>
			<md-card-footer>
			Card footer
			</md-card-footer>
			<div class="md-actions" layout="row" layout-align="start start">
			   <md-button>content</md-button>
			 </div>
		</md-card>
		<md-card class="md-whiteframe-11dp">
			<img class="md-card-image " flex="25" src="./shared/profile2.png" alt="profile Pic">
			<md-card-content>
				<h2>Hansel Lopez</h2>
				<p>Javascript Developer</p>
			</md-card-content>
			<md-card-footer>
			Card footer
			</md-card-footer>
			<div class="md-actions" layout="row" layout-align="start start">
			   <md-button>content</md-button>
			 </div>
		</md-card>
		<md-card class="md-whiteframe-11dp">
			<img class="md-card-image " flex="25" src="./shared/profile2.png" alt="profile Pic">
			<md-card-content>
				<h2>Hansel Lopez</h2>
				<p>Javascript Developer</p>
			</md-card-content>
			<md-card-footer>
			Card footer
			</md-card-footer>
			<div class="md-actions" layout="row" layout-align="start start">
			   <md-button>content</md-button>
			 </div>
		</md-card>
		
	<!-- </md-content> -->
</div>
