/*

#007F7F;
#00BFBF;
#004040;
#00E5E5;

#0D7FFF;
#0CAEE8;
#00FFFF;
#0CE8AA;
#0DFF76;


#0084FF;
#002140;
#0077E5;
#00427F;
#0063BF;

#00427F;
#4CA9FF;
#0084FF;
#26547F;
#006ACC;

*/
@font-face {
  font-family: 'pirulen';
  src: url('/style/pirulen.ttf');
}
.homeWrapper{
	background: #0077E5;
}
.navbar{
	background: #004040;

}

/*==========================================*/
/*===========================================*/
.headerNav{
	background: red;
}
.navOption{
	color: white;
	padding: 30px;
	font: bold;
	font-size: 30px ;
}
/*===========================================*/
/*==========================================*/
.jumbo{
	font-family: pirulen;
	background: #00E5E5;
}
.jumbo .container{
	background: #004040;

}
.jumbo img{
	/*margin-left: 50px;*/
	padding: 50px;
	width: 100%;
	height: auto;
	border-radius: 460px;
	background: red;

}
.jumbo .intro{
	padding: 50px;
	color: #00BFBF
}
/*==========================================*/
/*==========================================*/
.summary{


}
/*==========================================*/
/*==========================================*/
.contact{
	background: #0DFF76;
	text-align: center;
	padding-bottom: 200px;
}
.contact i {
	padding: 15px;
	color: #00427F;
	border: solid red;
	/*margin: 5px;*/
	border-radius: 15px;
	font-size: 10em;
}

/*==========================================*/
/*==========================================*/


