<md-content>
  <div layout="row" layout-align="center center" flex="flex" class="headerNav container">
    <div flex="20" class="navOption col-md-2"> <a href="#home">Home</a></div>
    <div flex="20" class="navOption col-md-2"> <a href="#resume">Resume</a></div>
    <div flex="20" class="navOption col-md-2"> <a href="#hansel">Hansel</a></div>
    <div flex="20" class="navOption col-md-2"> <a href="#myWork">Work</a></div>
    <div flex="20" class="navOption col-md-2"> <a href="#blog">Blog</a></div>
  </div>
</md-content>
<h1>Blogs</h1>