
<div class="homeWrapper">
  <md-content>
    <div layout="row" layout-align="center center" flex="flex" class="headerNav container">
      <div flex="20" class="navOption col-md-2">Home</div>
      <div flex="20" class="navOption col-md-2">Resume</div>
      <div flex="20" class="navOption col-md-2">Hansel</div>
      <div flex="20" class="navOption col-md-2">Work</div>
      <div flex="20" class="navOption col-md-2">Blog</div>
    </div>
  </md-content>
  <!-- JUMBO-->
  <div class="jumbo">
    <div layout-padding="" class="container">
      <div class="row">
        <div class="col-md-6"><img src="./shared/profile2.png" alt="Displaying Profile.Jpg" aria-hidden="true"/></div>
        <div class="col-md-6">
          <div class="intro">
            <h1>Hansel Lopez</h1>
            <p>I'm a web developer on a mission to improve our world</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- SUMMARY-->
  <div class="pitch">
    <div class="jumbotron container">
      <h3>Hello, world!</h3>
      <p>...</p>
      <div>Aenean lacinia bibendum nulla sed consectetur. Vestibulum id ligula porta felis euismod semper. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus</div>
      <p><a href="#" role="button" class="btn btn-primary btn-lg">Learn more</a></p>
    </div>
  </div>
  <!-- CONTACT-->
  <div class="contact">
    <div class="container">
      <div class="contact-icons row"><a href="http://lopezhansel.com"> <i class="fa fa-github fa-5x col-md-3"></i></a><a href="http://lopezhansel.com"> <i class="fa fa-linkedin-square fa-5x col-md-3"></i></a><a href="http://lopezhansel.com"> <i class="fa fa-facebook-official fa-5x col-md-3"></i></a><a href="http://lopezhansel.com"> <i class="fa fa-twitter-square fa-5x col-md-3"></i></a>
      </div>
    </div>
  </div>
</div>


