.homeWrapper
  //- nav.navbar.navbar-default
    .container
      // Brand and toggle get grouped for better mobile display
      .navbar-header
        a.navbar-brand(href='#/') HL
      // Collect the nav links, forms, and other content for toggling
      #bs-example-navbar-collapse-1.collapse.navbar-collapse
        ul.nav.navbar-nav
          li.active
            a(href='#')
              span Home 
              span.sr-only (current)
          li
            a(href='#resume') Resume
          li
            a(href='#myWork') My Work
          li
            a(href='#blog') Blog	
          li
            a.list-group-item(href='#')
              i.fa.fa-home.fa-2x
              span   Home
        ul.nav.navbar-nav.navbar-right
          li
            a(href='#/') Hansel Lopez
  md-content
    .headerNav.container(layout="row" layout-align="center center" flex)
      .navOption.col-md-2(flex="20") Home
      .navOption.col-md-2(flex="20") Resume
      .navOption.col-md-2(flex="20") Hansel
      .navOption.col-md-2(flex="20") Work
      .navOption.col-md-2(flex="20") Blog
  // JUMBO
  .jumbo
    .container(layout-padding='')
      .row
        .col-md-6
          img(src='https://drive.google.com/thumbnail?id=0Bx_cJ8ynukC_dU1YZS1ld19NOUE&authuser=0&v=1444626771734&sz=w1214-h910', alt='Displaying Profile.Jpg', aria-hidden='true')
        .col-md-6
          .intro
            h1 Hansel Lopez
            p I'm a web developer on a mission to improve our world
  // SUMMARY
  .pitch
    .jumbotron.container
      h3 Hello, world!
      p ...
      div
        | Aenean lacinia bibendum nulla sed consectetur. Vestibulum id ligula porta felis euismod semper. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus
      p
        a.btn.btn-primary.btn-lg(href='#', role='button') Learn more
  // CONTACT
  .contact
    div.container
      .contact-icons.row
        a(href="http://lopezhansel.com") 
          i.fa.fa-github.fa-5x.col-md-3
        a(href="http://lopezhansel.com") 
          i.fa.fa-linkedin-square.fa-5x.col-md-3
        a(href="http://lopezhansel.com") 
          i.fa.fa-facebook-official.fa-5x.col-md-3
        a(href="http://lopezhansel.com") 
          i.fa.fa-twitter-square.fa-5x.col-md-3
        //- i.fa.fa-google-plus-square.fa-5x.fa-border
        //- i.fa.fa-youtube-square.fa-5x.fa-border
        //- i.fa.fa-codepen.fa-5x.fa-border
        //- i.fa.fa-jsfiddle.fa-5x.fa-border
        //- i.fa.fa-twitter-square.fa-5x.fa-border
        //- i.fa.fa-instagram.fa-5x.fa-border
        //- i.fa.fa-skype.fa-5x.fa-border
        //- javascript html5 css3 git 
     
//- I'm a web developer on a mission to improve our world 

//- For the past few months I've accumlating the skills I need to start my carrer
//- I have wanted to this for so long I will Finaly Beggin


