<div class="homeWrapper">
	<nav class="navbar navbar-default">
		<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<a class="navbar-brand" href="#/">HL</a>
			</div>
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li class="active"><a href="#">Home <span class="sr-only">(current)</span></a></li>
					<li><a href="#resume">Resume</a></li>
					<li><a href="#myWork">My Work</a></li>
					<li><a href="#blog">Blog	</a></li>
					<li> <a class="list-group-item" href="#"><i class="fa fa-home fa-2x"></i>&nbsp; Home</a> </li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#/">Hansel Lopez</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<!-- JUMBO -->
	<div class="jumbo">
		<div layout-padding  class="container">
			<div class="row">
				<div class="col-lg-6">
					
					<img src="https://drive.google.com/thumbnail?id=0Bx_cJ8ynukC_VzY1YmFLTUs1b2M&amp;authuser=0&amp;v=1444580615107&amp;sz=w1899-h910"  alt="Displaying Profile.Jpg" aria-hidden="true">
				</div>
				<div class="col-lg-6">
					
					<div class="intro">
						<h1>Hanel Lopez</h1>
						I'm an experienced UI/UX designer and web developer with a penchant for startups
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- SUMMARY -->
	<div class="pitch">
		<div class="jumbotron container">
			<h3>Hello, world!</h3>
			<p>...</p>
			<div>Aenean lacinia bibendum nulla sed consectetur. Vestibulum id ligula porta felis euismod semper. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus</div>
			<p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
		</div>
	</div>
	<!-- CONTACT -->
	<div class="pitch">
		<div class="jumbotron container">
			<h3>Hello, world!</h3>
			<p>...</p>
			<div>Aenean lacinia bibendum nulla sed consectetur. Vestibulum id ligula porta felis euismod semper. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus</div>
			<p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
		</div>
	</div>
</div>