.homeWrapper
  md-content
    .headerNav.container(layout="row" layout-align="center center" flex)
      .navOption.col-md-2(flex="20") 
        a(href="#home") Home
      .navOption.col-md-2(flex="20") 
        a(href="#resume") Resume
      .navOption.col-md-2(flex="20") 
        a(href="#hansel") Hansel
      .navOption.col-md-2(flex="20") 
        a(href="#work") Work
      .navOption.col-md-2(flex="20") 
        a(href="#blog") Blog
  // JUMBO
  .jumbo
    .container(layout-padding='')
      .row
        .col-md-6
          img(src='./shared/profile2.png', alt='Displaying Profile.Jpg', aria-hidden='true')
        .col-md-6
          .intro
            h1 Hansel Lopez
            p I'm a web developer on a mission to improve our world
  // SUMMARY
  .pitch
    .jumbotron.container
      h3 Hello, world!
      p ...
      div
        | Aenean lacinia bibendum nulla sed consectetur. Vestibulum id ligula porta felis euismod semper. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus
      p
        a.btn.btn-primary.btn-lg(href='#', role='button') Learn more
  .skills.container
    .row
      .col-md-4
        ul Frameworks
          li Angular.js
          li jQuery.js
          li Bootstrap
      .col-md-4
        ul Javascript Libraries
          l
          li underscore.js
          l
      .col-md-4
        ul Angular
          li ngRoute 
          li ngAnimate 
          li ngStorage 
          li LeafLet
          li ngRating
          li ngMaterial
      .col-md-4
        ul Preprocessors
          li Stylus 
          li Less 
          li Jade 
          li Coffee
      .col-md-4
        ul Back-End and Dev Tools
          li Gulp.js 
          li Express.js 
          li MongoDB 
          li Browser-Sync 
          li Gulp.js 
          li Yeoman
          li Forever.js
      .col-md-4
        ul Other
          li JSON, 
          li API
          li Leaflet
          li Google Maps
          li Git
          li AJAX
          li OAUTH 
          li REST
  // CONTACT
  .contact
    div.container
      .contact-icons.row
        a(href="http://lopezhansel.com") 
          i.fa.fa-github.fa-5x.col-md-3
        a(href="http://lopezhansel.com") 
          i.fa.fa-linkedin-square.fa-5x.col-md-3
        a(href="http://lopezhansel.com") 
          i.fa.fa-facebook-official.fa-5x.col-md-3
        a(href="http://lopezhansel.com") 
          i.fa.fa-twitter-square.fa-5x.col-md-3
        //- i.fa.fa-google-plus-square.fa-5x.fa-border
        //- i.fa.fa-youtube-square.fa-5x.fa-border
        //- i.fa.fa-codepen.fa-5x.fa-border
        //- i.fa.fa-jsfiddle.fa-5x.fa-border
        //- i.fa.fa-twitter-square.fa-5x.fa-border
        //- i.fa.fa-instagram.fa-5x.fa-border
        //- i.fa.fa-skype.fa-5x.fa-border
        //- javascript html5 css3 git 
     





