<md-content>
<div layout="row" layout-align="center center" flex="flex" class="headerNav container">
	<div flex="20" class="navOption col-md-2"> <a href="#home">Home</a></div>
	<div flex="20" class="navOption col-md-2"> <a href="#resume">Resume</a></div>
	<div flex="20" class="navOption col-md-2"> <a href="#hansel">Hansel</a></div>
	<div flex="20" class="navOption col-md-2"> <a href="#myWork">Work</a></div>
	<div flex="20" class="navOption col-md-2"> <a href="#blog">Blog</a></div>
</div>
</md-content>
<div class="container">
	
	<div data-ng-repeat="app in apps" class="col-md-6">
		<h1>{{app.name}}</h1>
		<p>{{app.description}}</p>
		<h3>{{app.date}}</h3>
	</div>
</div>