<md-content>
  <div layout="row" layout-align="center center" flex="flex" class="headerNav container">
    <div flex="20" class="navOption col-md-2"> <a href="#home">Home</a></div>
    <div flex="20" class="navOption col-md-2"> <a href="#resume">Resume</a></div>
    <div flex="20" class="navOption col-md-2"> <a href="#hansel">Hansel</a></div>
    <div flex="20" class="navOption col-md-2"> <a href="#work">Work</a></div>
    <div flex="20" class="navOption col-md-2"> <a href="#blog">Blog</a></div>
  </div>
</md-content>
<md-content>
<div layout="row" layout-align="center center" flex="flex" class="headerNav container">
	<div flex="20" class="navOption col-md-2"> <a href="#home">Home</a></div>
	<div flex="20" class="navOption col-md-2"> <a href="#resume">Resume</a></div>
	<div flex="20" class="navOption col-md-2"> <a href="#hansel">Hansel</a></div>
	<div flex="20" class="navOption col-md-2"> <a href="#myWork">Work</a></div>
	<div flex="20" class="navOption col-md-2"> <a href="#blog">Blog</a></div>
</div>
</md-content>
<div class="container">
	
	<div data-ng-repeat="app in apps" class="col-md-6">
		<h1>{{app.name}}</h1>
		<p>{{app.description}}</p>
		<h3>{{app.date}}</h3>
	</div>
</div>
========================================================================
========================================================================

Hello and Thank you for reading this, I'm just a regular Colorado guy with a passion for good and great applications.

I will officially graduate from RefactorU on Nov 6, I will be looking for great opportunities to Work With 

I code  Javascript Awesomeness

Full Stack Ninja Developer
I'm a Web Develper who want to make a difference by coding greatness


I've have been wanting to code since I 

I've acquired a set skills from basics like Javascript CSS3 HTML to Angular.js Node.js  

Web Developer 
Excited to make great things happen through code
Wanting to become a Angular black belt

//- I'm a web developer on a mission to improve our world 

//- For the past few months I've accumlating the skills I need to start my career
//- I have wanted to this for so long I will Finally Beggin


Heroku Digital Ocean 
========================================================================
========================================================================



========================================================================
========================================================================
FrameWorks 
Angular.js, 
jQuery.js, 
Bootstrap

========================================================================
========================================================================

Angular.js 
ngRoute 
ngAnimate 
ngStorage 
LeafLet
ngRating
ngMaterial
========================================================================
========================================================================
Preprocessors 
Stylus 
Less 
Jade 
Coffee

========================================================================
========================================================================
Back-End and Dev Tools
Gulp.js 
Express.js 
MongoDB 
Browser-Sync 
Gulp.js 
Yeoman
Forever.js

Other


JSON, 
API
Leaflet
Google Maps
Git
AJAX
OAUTH 
REST
========================================================================
========================================================================

Things I'm Excited to learn Next
Meteor.js, Ionic, Facebook React, mySQL
Ionic
mySQL
typescipt 
RegEX
WebSockets
web Workers
Meteor.js 
React.js 
React Native 

Internet of Things

ES 2015

Focus on Responsive Performance and Design and UX
GO-Lang
========================================================================
========================================================================

Pay ERS
MongoDb Class Work
Work On my Website
Fruit App
Website

jQuery Animations
Youtube Extra .
// tutorials point










